body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}



.image {
    width: 360px;
    height: 420px
}

.border-line {
    border-right: 1px solid #EEEEEE
}


input:invalid {
    border: 5px solid red;
  }
   
  input:valid {
    border: 2px solid black;
  }











