<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Time</title>
    <script src="./../build/datetime.build.js"></script>
    
</head>
<center>
<body style="background-color:powderblue;">
    
    <h1>Check-In Date</h1>
    Enter from Date:-  <input type="datetime-local" id='fromDate'>
    <h1>Check-out Date</h1>
    Enter to Date:- <input type="datetime-local" id='toDate'>
    <br>
    <br>
    <input type="button" value="Submit" id='submit'>
    <br>
    <br>
    <div id="res" style="background-color:tomato;" ></div>
</body>
</center>
</html>