<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../build/productlogic.build.js"></script>
</head>
<body style="background-color:powderblue;"> 
    
    <center>  
        <h1>Product Logic</h1> 
     Product Name:   <input type="text" id="ProductName" placeholder="Enter Product Name" required><br><br>
    Category Name:   <div id="CategoryNameList"></div><br><br>
    Manufacturer Name:   <div id="ManufacturersList"></div><br><br>
    Product Price:   <input type="number" id="Price" placeholder="Enter Product Price" required><br><br>
    <div id="dvButton"><input type="submit" value="Submit" id="Submit"></div><br><br>
    <div id="functionality"></div><br><br>
    <div style="background-color:tomato;"><table id="tableData"></table></div>
</center>
</body>
</html>