<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update product</title>
    <link rel="stylesheet" href="css.css"> 
</head>
<body>    
    <h1>Update product </h1><br>    
    <div class="login">    
    <form id="login" method="get">    
        <label><b>Product Id     
        </b>    
        </label>    
        <input type="text" name="product-ID" id="Uname" placeholder="Product ID" required>    
        <br><br> 
        
        <label><b>Product Name    
        </b>    
        </label>    
        <input type="text" name="Product Name" id="Uname" placeholder="Product Name" required>    
        <br><br>

        <label><b> Catrgory Name     
        </b>    
        </label>    
        <input type="text" name="Catrgory Name" id="Uname" placeholder="Catrgory Name" required>    
        <br><br>

        <label><b> Manufacturer Name     
        </b>    
        </label>    
        <input type="text" name="Manufacturer Name" id="Uname" placeholder="Manufacturer Name" required>    
        <br><br>
        <label><b>price of product    
        </b>    
        </label>    
        <input type="text" name="price" id="Uname" placeholder="price of product" required>    
        <br><br>
        <input onclick="window.location.href='/home1.html'" type="submit" name="log" id="log" value="submit">       
        <br><br>    
    </form>     
</div>   

</body>
</html>